doctype html
html
  head
    script(src="/jquery/dist/jquery.js")
    script(src="/jqtree/tree.jquery.js")
    //link(rel='stylesheet', href="/bootstrap/dist/css/bootstrap.min.css")
    //link(rel='stylesheet', href="/bootstrap/dist/css/bootstrap.css")
    //script(src="/bootstrap/dist/js/bootstrap.bundle.min.js")
    link(rel='stylesheet', href='/css/style.css')
    script(src="/js/jqTreeContextMenu.js")
    block content
